--
-- PostgreSQL database dump
--

\restrict LLDxsTAWP0c6OMA2YlLmsvoy0LVXrcv8aVqN3gfiE4TF6jnFtbRAeBSjAFHsZqZ

-- Dumped from database version 16.10
-- Dumped by pg_dump version 16.10

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: citext; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS citext WITH SCHEMA public;


--
-- Name: EXTENSION citext; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION citext IS 'data type for case-insensitive character strings';


--
-- Name: pg_trgm; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pg_trgm WITH SCHEMA public;


--
-- Name: EXTENSION pg_trgm; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pg_trgm IS 'text similarity measurement and index searching based on trigrams';


--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: agents; Type: TABLE; Schema: public; Owner: satn_admin
--

CREATE TABLE public.agents (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    name text NOT NULL,
    contact_info jsonb,
    role text
);


ALTER TABLE public.agents OWNER TO satn_admin;

--
-- Name: company_info; Type: TABLE; Schema: public; Owner: satn_admin
--

CREATE TABLE public.company_info (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    about text,
    contact jsonb,
    branches jsonb
);


ALTER TABLE public.company_info OWNER TO satn_admin;

--
-- Name: interactions; Type: TABLE; Schema: public; Owner: satn_admin
--

CREATE TABLE public.interactions (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    user_id uuid,
    query_text text,
    response_text text,
    lang character varying(8),
    "timestamp" timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.interactions OWNER TO satn_admin;

--
-- Name: leads; Type: TABLE; Schema: public; Owner: satn_admin
--

CREATE TABLE public.leads (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    name text,
    email text NOT NULL,
    phone text,
    source text,
    created_at timestamp without time zone DEFAULT now(),
    first_name character varying,
    last_name character varying
);


ALTER TABLE public.leads OWNER TO satn_admin;

--
-- Name: properties; Type: TABLE; Schema: public; Owner: satn_admin
--

CREATE TABLE public.properties (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    title text NOT NULL,
    description text,
    price numeric(14,2),
    location text,
    features jsonb,
    agent_id uuid,
    price_from numeric,
    beds integer,
    baths integer,
    car_spaces integer,
    est_completion text,
    video_url text,
    virtual_tour_url text,
    brochure text,
    floor_plan text,
    price_list text
);


ALTER TABLE public.properties OWNER TO satn_admin;

--
-- Name: users; Type: TABLE; Schema: public; Owner: satn_admin
--

CREATE TABLE public.users (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    name text NOT NULL,
    email text NOT NULL,
    phone text,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.users OWNER TO satn_admin;

--
-- Name: agents agents_pkey; Type: CONSTRAINT; Schema: public; Owner: satn_admin
--

ALTER TABLE ONLY public.agents
    ADD CONSTRAINT agents_pkey PRIMARY KEY (id);


--
-- Name: company_info company_info_pkey; Type: CONSTRAINT; Schema: public; Owner: satn_admin
--

ALTER TABLE ONLY public.company_info
    ADD CONSTRAINT company_info_pkey PRIMARY KEY (id);


--
-- Name: interactions interactions_pkey; Type: CONSTRAINT; Schema: public; Owner: satn_admin
--

ALTER TABLE ONLY public.interactions
    ADD CONSTRAINT interactions_pkey PRIMARY KEY (id);


--
-- Name: leads leads_pkey; Type: CONSTRAINT; Schema: public; Owner: satn_admin
--

ALTER TABLE ONLY public.leads
    ADD CONSTRAINT leads_pkey PRIMARY KEY (id);


--
-- Name: properties properties_pkey; Type: CONSTRAINT; Schema: public; Owner: satn_admin
--

ALTER TABLE ONLY public.properties
    ADD CONSTRAINT properties_pkey PRIMARY KEY (id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: satn_admin
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: satn_admin
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: idx_properties_baths; Type: INDEX; Schema: public; Owner: satn_admin
--

CREATE INDEX idx_properties_baths ON public.properties USING btree (baths);


--
-- Name: idx_properties_beds; Type: INDEX; Schema: public; Owner: satn_admin
--

CREATE INDEX idx_properties_beds ON public.properties USING btree (beds);


--
-- Name: idx_properties_car_spaces; Type: INDEX; Schema: public; Owner: satn_admin
--

CREATE INDEX idx_properties_car_spaces ON public.properties USING btree (car_spaces);


--
-- Name: idx_properties_features_gin; Type: INDEX; Schema: public; Owner: satn_admin
--

CREATE INDEX idx_properties_features_gin ON public.properties USING gin (features);


--
-- Name: idx_properties_loc_tsv; Type: INDEX; Schema: public; Owner: satn_admin
--

CREATE INDEX idx_properties_loc_tsv ON public.properties USING gin (to_tsvector('simple'::regconfig, location));


--
-- Name: idx_properties_price_from; Type: INDEX; Schema: public; Owner: satn_admin
--

CREATE INDEX idx_properties_price_from ON public.properties USING btree (price_from);


--
-- Name: ix_agents_name; Type: INDEX; Schema: public; Owner: satn_admin
--

CREATE INDEX ix_agents_name ON public.agents USING btree (name);


--
-- Name: ix_properties_agent_id; Type: INDEX; Schema: public; Owner: satn_admin
--

CREATE INDEX ix_properties_agent_id ON public.properties USING btree (agent_id);


--
-- Name: ix_properties_features_jsonb_gin; Type: INDEX; Schema: public; Owner: satn_admin
--

CREATE INDEX ix_properties_features_jsonb_gin ON public.properties USING gin (features);


--
-- Name: ix_properties_location; Type: INDEX; Schema: public; Owner: satn_admin
--

CREATE INDEX ix_properties_location ON public.properties USING btree (location);


--
-- Name: ix_properties_price; Type: INDEX; Schema: public; Owner: satn_admin
--

CREATE INDEX ix_properties_price ON public.properties USING btree (price);


--
-- Name: ix_properties_title; Type: INDEX; Schema: public; Owner: satn_admin
--

CREATE INDEX ix_properties_title ON public.properties USING btree (title);


--
-- Name: ix_users_email; Type: INDEX; Schema: public; Owner: satn_admin
--

CREATE INDEX ix_users_email ON public.users USING btree (email);


--
-- Name: interactions interactions_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: satn_admin
--

ALTER TABLE ONLY public.interactions
    ADD CONSTRAINT interactions_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: properties properties_agent_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: satn_admin
--

ALTER TABLE ONLY public.properties
    ADD CONSTRAINT properties_agent_id_fkey FOREIGN KEY (agent_id) REFERENCES public.agents(id) ON DELETE SET NULL;


--
-- PostgreSQL database dump complete
--

\unrestrict LLDxsTAWP0c6OMA2YlLmsvoy0LVXrcv8aVqN3gfiE4TF6jnFtbRAeBSjAFHsZqZ

